{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/beelogo01.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Back End - Melissa Longenberger</title>
</head>
<body>
    <header>
        <div class="head">
            {% block header %} {% include '../header.html' %} {% endblock %}
        </div>
        <nav>
            {% block menu %} {% include '../menu.html' %} {% endblock menu %}
        </nav>
        <hr>
        <nav>
            {% block subMenu %} {% include './subMenu.html' %} {% endblock subMenu %}
        </nav>
    </header>
    <main>

        {% for u in updateType %}
            {% if 'Back' in u.typeUpdate %}
                {% for a in updated %}
                    <p>Last Update: {{a.updatedAt}}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </main>
    {% block footer %} {% include '../footer.html' %} {% endblock footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='{% static "js/script.js"%}'></script>
</body>
</html>