{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Full Stack - Melissa Longenberger</title>
</head>
<body>
    <header>
        <div class="head">
            <img src='http://images.craftsnherbs.com/new-melissa.jpg' alt='Melissa' />
            <div class="heading">
                <h1>Melissa Longenberger</h1>
                <h3>Full Stack Web Developer</h3>
                <a href='https://blog.melissa-longenberger.com/' target='_blank' rel='noreferrer'><h3>Blog</h3></a>
            </div>
        </div>
        <nav>
            {% block menu %} {% include '../menu.html' %} {% endblock menu %}
        </nav>
        <hr>
        <nav>
            {% block subMenu %} {% include './subMenu.html' %} {% endblock subMenu %}
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>Melissa Longenberger &#169; 2021</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='{% static "js/script.js"%}'></script>
</body>
</html>