{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/beelogo01.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Current Projects - Melissa Longenberger</title>
</head>
<body>
    <header>
        <div class="head">
            {% block header %} {% include '../header.html' %} {% endblock %}
        </div>
        <nav>
            {% block menu %} {% include '../menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h2>Current Projects</h2>
        <h4>Projects on this page are live and in many cases still being used or updated.</h4>
        {% for curr in currProj %}
            <div class="project-card">
                <h3>{{curr.currName}}</h3>
                <h4>{{curr.currDesc}}</h4>
                <div class="links">
                    {% if curr.currSource != '' %}
                    <a href="{{curr.currSource}}">Source Code</a>
                    {% endif %}
                    {% if curr.currLink != '' %}
                        <a href="{{curr.currLink}}">Live Link</a>
                    {% endif %}
                </div>
                <img src="{{curr.currImg}}" alt="{{curr.currName}}">
            </div>
        {% endfor %}
            {% for u in updated %}
                {% if u.updateType == 0 %}
                    <p>Last Update: {{a.updatedAt}}</p>
                {% endif %}
            {% endfor %}
    </main>
    {% block footer %} {% include '../footer.html' %} {% endblock footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='{% static "js/script.js"%}'></script>
</body>
</html>