{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/beelogo01.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Past Projects - Melissa Longenberger</title>
</head>
<body>
    <header>
        <div class="head">
            {% block header %} {% include '../header.html' %} {% endblock %}
        </div>
        <nav>
            {% block menu %} {% include '../menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h2>Past Projects</h2>
        <h4>Projects on this page are older and if available will have links to their source or URL</h4>
        {% for past in pastProj %}
            <div class="project-card">
                <h3>{{past.pastName}}</h3>
                <h4>{{past.pastDesc}}</h4>
                <div class="links">
                    {% if past.pastSource != '' %}
                    <a href="{{past.pastSource}}">Source Code</a>
                    {% endif %}
                    {% if past.pastLink != '' %}
                        <a href="{{past.pastLink}}">Live Link</a>
                    {% endif %}
                </div>
                <img src="{{past.pastImg}}" alt="{{past.pastName}}">
            </div>
        {% endfor %}
        {% for u in updated %}
            <p>Last Updated on {{u.updatedAt}}</p>
        {% endfor %}
    </main>
    {% block footer %} {% include '../footer.html' %} {% endblock footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='{% static "js/script.js"%}'></script>
</body>
</html>