@import './base.less';

body {
    .flexcolumn();
    background-color: @bg;
    
    header {
        .flexcolumn();
        margin: .2em;

        .head {
            .flexcolumn();
            padding-bottom: .4em;

            img {
                display: none;
            }
            .heading {
                .flexcolumn();
                font-family: 'Bad Script', cursive;

                h1 {
                    letter-spacing: .1em;
                    text-align: center;
                }
                h3 {
                    letter-spacing: .2em;
                }
            }
        }
        nav {
            .flexcolumn();
            width: 95%;
            background-color: @navbg;
            padding: .2em 0;

            .navbar {
                display: none;
            }
            .nav-small {
                .flexcolumn();
                justify-content: space-around;
                width: 95%;

                .button {
                    .cursiveSize12();
                    border: @linkborder;
                }
                #hideMenu, #hideSubMenu {
                    display: none;

                    .nav-option {
                        text-decoration: none;
                        cursor: pointer;
                        font-family: 'Coming Soon', cursive;
                        width: 100%;
                        text-align: center;
                        color: inherit;
                        &:hover {
                            background-color: @linkbg;
                        }
                    }
                }
            }
        }
    }
    main {
        .flexcolumn();
        width: 85%;
        margin-top: .5em;

            .about-start {
                .altflexcolumn();
                .text {
                    text-align: center;
                    p {
                        .cursiveSize12();
                    }
                }
                img {
                    width: 45%;
                    border-radius: 50%;
                }
            }
            .about-body {
                .flexcolumn();
                text-align: center;
                p {
                    .cursiveSize12();
                }
            }
            h1 {
                .cursiveSpace2();
                text-align: center;
            }
            h2 {
                .cursiveSpace2();
            }
            h4 {
                .cursiveSpace2();
                text-align: center;
            }        
            h3 {
                .cursiveSpace2();
            }
            .row {
                .flexrow();

                .column {
                    .flexcolumn();
                    align-items: flex-start;

                    h3 {
                        .cursiveSpace2();
                    }

                    .row {
                        .flexrow();

                        .column {
                            .flexcolumn();
                        }
                    }
                }
                .skills {
                    li {
                        list-style: none;
                    }
                }
            }
            p {
                .cursiveSize12();
            }
            .resume {
                .flexcolumn();

                .cResume {
                    .flexcolumn();

                    .skills {
                        display: none;
                    }
                    .smallResume {
                        .flexcolumn();

                        span {
                            margin: .1em;
                            .cursiveSize12();
                        }
                    }
                    table {
                        .cursiveSpace2();

                        tr {
                            .colspan {
                                text-align: left;
                            }
                        }
                    }
                }
            }
            table {
                .cursiveSpace2();

                tr {
                    .colspan {
                        text-align: left;
                    }
                }
            }
            .contact {
                display: none;
            }
            .smallContact {
                .flexcolumn();

                p {
                    text-align: center;
                }
            }
            .smallRow {
                .flexcolumn();

                .project-card {
                    .flexcolumn();
                    background-color: @cardbg;
                    border: @cardborder;
                    margin: .5em 0 1.5em 0;
                    h3 {
                        .cursiveSpace2();
                    }
                    h4 {
                        .cursiveSpace2();
                        text-align: center;
                        width: 75%;
                    }
                    .links {
                        .flexrow();
                        a {
                            padding: 0 1em;
                            .cursiveSpace2();
                            color: @font;
                        }
                    }
                    img {
                        width: 85%;
                        padding: .5em;
                    }
                }
                form {
                    margin: 1em 0;
                    .cursiveSpace2();
                    .flexcolumn();

                    section {
                        .flexcolumn();
                        margin: .2em;
                    }
                    button {
                        margin: .2em;
                    }
                }
            }
            .project-card {
                .flexcolumn();
                background-color: @cardbg;
                border: @cardborder;
                margin: .5em 0 1.5em 0;
                h3 {
                    .cursiveSpace2();
                }
                h4 {
                    .cursiveSpace2();
                    text-align: center;
                    width: 75%;
                }
                .links {
                    .flexrow();
                    a {
                        padding: 0 1em;
                        .cursiveSpace2();
                        color: @font;
                    }
                }
                img {
                    width: 85%;
                    padding: .5em;
                }
            }
    }
    footer {
        font-family: 'Bad Script', cursive;
        background-color: @navbg;
        width: 95%;
        .flexcolumn();
        letter-spacing: .2em;
        p {
            width: 65%;
            text-align: center;
        }
        .row {
            .flexrow();
            justify-content: space-evenly;
            width: 50%;

            img {
                max-height: 30px;
            }
        }
    }

}

@import './media.less';