@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/badscript/v9/6NUT8F6PJgbFWQn47_x7lOw.ttf) format('truetype');
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comingsoon/v12/qWcuB6mzpYL7AJ2VfdQR1u-S.ttf) format('truetype');
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.altflexcolumn {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.altflexrow {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.cursiveSize12 {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
.cursiveSpace2 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f2;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
}
body header .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.4em;
}
body header .head img {
  display: none;
}
body header .head .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bad Script', cursive;
}
body header .head .heading h1 {
  letter-spacing: 0.1em;
  text-align: center;
}
body header .head .heading h3 {
  letter-spacing: 0.2em;
}
body header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  background-color: #aea9a5;
}
body header nav .navbar {
  display: none;
}
body header nav .nav-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
body header nav .nav-small .button {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
  border: 2px groove #909970;
}
body header nav .nav-small #hideMenu {
  display: none;
}
body header nav .nav-small #hideMenu .nav-option {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Coming Soon', cursive;
  width: 95%;
  text-align: center;
  color: inherit;
}
body header nav .nav-small #hideMenu .nav-option:hover {
  background-color: #909970;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin-top: 0.5em;
}
body main .about-start {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
body main .about-start .text {
  text-align: center;
}
body main .about-start .text p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body main .about-start img {
  width: 45%;
  border-radius: 50%;
}
body main .about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body main .about-body p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body main h2 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main h4 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  text-align: center;
}
body main .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #aea9a577;
  border: 3px groove #aea9a577;
  margin: 0.5em 0 1.5em 0;
}
body main .project-card h3 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main .project-card h4 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  text-align: center;
  width: 75%;
}
body main .project-card .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .project-card .links a {
  padding: 0 1em;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  color: #000;
}
body main .project-card img {
  width: 85%;
  padding: 0.5em;
}
body main .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
body main .row .column .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .row .column .row .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .row .formHide {
  display: none;
}
body .resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .resume h2 {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body .resume .resume-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  width: 75%;
}
body .resume .resume-parts .skills-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}
body .resume .resume-parts .skills-education .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .resume .resume-parts .skills-education .skills .desktop {
  display: none;
}
body .resume .resume-parts .skills-education .skills .mobile tr td {
  padding: 0.1em 1.5em;
}
body .resume .resume-parts .skills-education .education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 155%;
}
body .resume .resume-parts .skills-education .education .desktop {
  display: none;
}
body .resume .resume-parts .skills-education .education .mobile tr td {
  padding: 0.2em 0 0.5em 0;
}
body .resume .resume-parts .skills-education .education .mobile tr .next {
  padding-top: 1em;
}
body .resume .resume-parts .positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 125%;
}
body .resume .resume-parts .positions table tr td {
  padding: 0 0.5em 0.5em 0.5em;
}
body .resume .resume-parts .positions table tr .next {
  padding-top: 1em;
}
body .resume h4 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body .contact .reach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}
body .contact .reach h2 {
  text-align: center;
}
body .contact .reach p {
  display: flex;
  flex-direction: column;
  width: 75%;
  word-wrap: break-word;
}
body footer {
  font-family: 'Bad Script', cursive;
  background-color: #aea9a5;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
}
body footer p {
  width: 65%;
  text-align: center;
}
body footer .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
}
body footer .row img {
  max-height: 30px;
}
@media only screen and (min-width: 400px) {
  body header nav {
    width: 115%;
  }
  body main .about-start img {
    width: 35%;
  }
  body main .project-card img {
    width: 75%;
  }
}
@media only screen and (min-width: 530px) {
  body header nav {
    width: 150%;
  }
  body main .about-start img {
    width: 30%;
  }
  body .resume .resume-parts .skills-education .skills .mobile {
    display: none;
  }
  body .resume .resume-parts .skills-education .skills .desktop {
    display: block;
  }
  body .resume .resume-parts .skills-education .skills .desktop tr td {
    padding: 0 0.5em;
    text-align: left;
  }
  body .contact .reach p {
    flex-direction: row;
  }
  body .contact .reach p a {
    padding-left: 0.5em;
  }
}
@media only screen and (min-width: 730px) {
  body header .head {
    flex-direction: row;
  }
  body header .head img {
    display: flex;
    width: 14%;
    border-radius: 50%;
    margin-right: 1em;
  }
  body header nav {
    width: 95%;
  }
  body header nav .nav-small {
    display: none;
  }
  body header nav .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }
  body header nav .navbar .nav-option {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Coming Soon', cursive;
    color: inherit;
  }
  body header nav .navbar .nav-option:hover {
    background-color: #909970;
  }
  body header nav .navbar .clicked {
    font-weight: bold;
    font-family: 'Coming Soon', cursive;
    font-size: 1.2em;
    background-color: #909970;
    padding: 0.2em 1em;
  }
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main .about-start {
    flex-direction: row;
  }
  body main .about-start .text {
    width: 65%;
    margin-right: 1em;
  }
  body main .about-start img {
    width: 25%;
  }
  body main .row .formHide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    align-items: flex-start;
  }
  body main .data {
    align-items: flex-start;
  }
  body main .data .column {
    margin: 0 1em;
  }
  body .resume .resume-parts {
    width: 50%;
  }
}
@media only screen and (min-width: 850px) {
  body header .head img {
    width: 12%;
  }
  body main {
    width: 65%;
  }
  body main .about-start img {
    width: 20%;
  }
  body .resume .resume-parts {
    width: 65%;
  }
  body .resume .resume-parts .skills-education {
    flex-direction: row;
    width: 115%;
  }
  body .resume .resume-parts .skills-education .skills {
    padding-right: 1em;
  }
}
@media only screen and (min-width: 1000px) {
  body header .head img {
    width: 10%;
  }
  body main {
    width: 50%;
  }
  body main .about-start img {
    width: 20%;
  }
  body main .project-card img {
    width: 55%;
  }
}
@media only screen and (min-width: 1330px) {
  body header .head img {
    width: 10%;
  }
}
