@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/badscript/v9/6NUT8F6PJgbFWQn47_x7lOw.ttf) format('truetype');
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comingsoon/v12/qWcuB6mzpYL7AJ2VfdQR1u-S.ttf) format('truetype');
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.altflexcolumn {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.altflexrow {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.cursiveSize12 {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
.cursiveSpace2 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f2f2;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
}
body header .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.4em;
}
body header .head img {
  display: none;
}
body header .head .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bad Script', cursive;
}
body header .head .heading h1 {
  letter-spacing: 0.1em;
  text-align: center;
}
body header .head .heading h3 {
  letter-spacing: 0.2em;
}
body header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  background-color: #aea9a5;
  padding: 0.2em 0;
}
body header nav .navbar {
  display: none;
}
body header nav .nav-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 95%;
}
body header nav .nav-small .button {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
  border: 2px groove #909970;
}
body header nav .nav-small #hideMenu,
body header nav .nav-small #hideSubMenu {
  display: none;
}
body header nav .nav-small #hideMenu .nav-option,
body header nav .nav-small #hideSubMenu .nav-option {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Coming Soon', cursive;
  width: 100%;
  text-align: center;
  color: inherit;
}
body header nav .nav-small #hideMenu .nav-option:hover,
body header nav .nav-small #hideSubMenu .nav-option:hover {
  background-color: #909970;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin-top: 0.5em;
}
body main .about-start {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
body main .about-start .text {
  text-align: center;
}
body main .about-start .text p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body main .about-start img {
  width: 45%;
  border-radius: 50%;
}
body main .about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body main .about-body p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body main h1 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  text-align: center;
}
body main h2 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main h4 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  text-align: center;
}
body main h3 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
body main .row .column h3 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main .row .column .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .row .column .row .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .row .skills li {
  list-style: none;
}
body main p {
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body main .resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .resume .cResume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .resume .cResume .skills {
  display: none;
}
body main .resume .cResume .smallResume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .resume .cResume .smallResume span {
  margin: 0.1em;
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
}
body main .resume .cResume table {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main .resume .cResume table tr .colspan {
  text-align: left;
}
body main table {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main table tr .colspan {
  text-align: left;
}
body main .contact {
  display: none;
}
body main .smallContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .smallContact p {
  text-align: center;
}
body main .smallRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .smallRow .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #aea9a577;
  border: 3px groove #aea9a577;
  margin: 0.5em 0 1.5em 0;
}
body main .smallRow .project-card h3 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main .smallRow .project-card h4 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  text-align: center;
  width: 75%;
}
body main .smallRow .project-card .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .smallRow .project-card .links a {
  padding: 0 1em;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  color: #000;
}
body main .smallRow .project-card img {
  width: 85%;
  padding: 0.5em;
}
body main .smallRow form {
  margin: 1em 0;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .smallRow form section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2em;
}
body main .smallRow form button {
  margin: 0.2em;
}
body main .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #aea9a577;
  border: 3px groove #aea9a577;
  margin: 0.5em 0 1.5em 0;
}
body main .project-card h3 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
}
body main .project-card h4 {
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  text-align: center;
  width: 75%;
}
body main .project-card .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .project-card .links a {
  padding: 0 1em;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 0.2em;
  color: #000;
}
body main .project-card img {
  width: 85%;
  padding: 0.5em;
}
body footer {
  font-family: 'Bad Script', cursive;
  background-color: #aea9a5;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
}
body footer p {
  width: 65%;
  text-align: center;
}
body footer .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
}
body footer .row img {
  max-height: 30px;
}
@media only screen and (min-width: 400px) {
  body header nav {
    width: 115%;
  }
  body main .about-start img {
    width: 35%;
  }
  body main .project-card img {
    width: 75%;
  }
  body main .smallRow {
    text-align: center;
  }
  body main .smallRow .column {
    text-align: center;
    align-items: center;
  }
}
@media only screen and (min-width: 530px) {
  body header nav {
    width: 150%;
  }
  body main .about-start img {
    width: 30%;
  }
  body main .resume .cResume .smallResume {
    display: none;
  }
  body main .resume .cResume .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  body main .resume .cResume .skills li {
    margin: 0.5em;
    font-family: 'Coming Soon', cursive;
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 730px) {
  body header {
    width: 89%;
  }
  body header .head {
    flex-direction: row;
  }
  body header .head img {
    display: flex;
    width: 14%;
    border-radius: 50%;
    margin-right: 1em;
  }
  body header .head .img {
    width: 140px;
  }
  body header nav {
    width: 95%;
  }
  body header nav .nav-small {
    display: none;
  }
  body header nav .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }
  body header nav .navbar .nav-option {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Coming Soon', cursive;
    color: inherit;
  }
  body header nav .navbar .nav-option:hover {
    background-color: #909970;
  }
  body header nav .navbar .clicked {
    font-weight: bold;
    font-family: 'Coming Soon', cursive;
    font-size: 1.2em;
    background-color: #909970;
    padding: 0.2em 1em;
  }
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main .about-start {
    flex-direction: row;
  }
  body main .about-start .text {
    width: 65%;
    margin-right: 1em;
  }
  body main .about-start img {
    width: 25%;
  }
  body main .about-start .img {
    max-width: 200px;
  }
  body main .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
  }
  body main .row .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
  }
  body main .row .data {
    margin: 1em;
  }
  body main .row form {
    margin: 1em;
  }
  body main .row form section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body main .row form section label {
    margin: 0 0.5em;
  }
  body main .resume {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
  }
  body main .resume .cResume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 95%;
  }
  body main .resume .cResume .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  body main .resume .cResume .skills li {
    margin: 0.5em;
    padding: 0.2em;
  }
  body main .data {
    align-items: flex-start;
  }
  body main .data .column {
    margin: 0 1em;
  }
  body main .column .row {
    flex-wrap: wrap;
  }
  body main .column .row .project-card {
    width: 300px;
    height: 300px;
    margin: 1em;
  }
  body main .smallContact {
    display: none;
  }
  body main .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
