{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/beelogo01.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>{{update.updateType}} - Admin Dashboard</title>
</head>
<body>
    <header>
        <div class="head">
            {% block header %} {% include '../header.html' %} {% endblock %}
        </div>
        <nav>
            {% block menu %} {% include '../menu.html' %} {% endblock menu %}
        </nav>
        <hr>
        <nav>
            {% block adminMenu %} {% include './adminMenu.html' %} {% endblock adminMenu %}
        </nav>
    </header>
    <main>
        <div class="row">
            <form action="/24/{{update.id}}/updateU/" method='post' class='formHide'>
                {% csrf_token %}
                <section>
                    <label for="whyUpdate">Update Reason: </label>
                    <input type="text" name='whyUpdate' value='{{update.whyUpdate}}'>
                </section>
                <section>
                    <label for="updateType"></label>
                    <select name="updateType">
                        {% for t in types %}
                            <option value="{{t.id}}">{{t.updateType}}</option>
                        {% endfor %}
                    </select>
                </section>
                <button>Submit</button>
            </form>
        </div>
    </main>
    {% block footer %} {% include '../footer.html' %} {% endblock footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='{% static "js/script.js"%}'></script>
</body>
</html>