{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/beelogo01.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Add Projects - Melissa Longenberger</title>
</head>
<body>
    <header>
        <div class="head">
            {% block header %} {% include '../header.html' %} {% endblock %}
        </div>
        <nav>
            {% block menu %} {% include '../menu.html' %} {% endblock menu %}
        </nav>
        <hr>
        <nav>
            {% block adminMenu %} {% include './adminMenu.html' %} {% endblock adminMenu %}
        </nav>
    </header>
    <main>
        <div class="row smallRow">
            <form action="/24/createCurr/" method='post'>
                {% csrf_token %}
                <h4>Current Project Form</h4>
                <section>
                    <label for="currName">Project Name: </label>
                    <input type="text" name='currName'>
                </section>
                <section>
                    <label for="currDesc">Description: </label>
                    <input type="text" name='currDesc'>
                </section>
                <section>
                    <label for="currImg">Image Link: </label>
                    <input type="text" name='currImg'>
                </section>
                <section>
                    <label for="currSource">Source Link: </label>
                    <input type="text" name='currSource'>
                </section>
                <section>
                    <label for="currLink">Live Link: </label>
                    <input type="text" name='currLink'>
                </section>
                <section>
                    <label for="cOrder">Order: </label>
                    <input type="number" name="cOrder">
                </section>
                <button>Submit</button>
            </form>
            <form action="/24/createPast/" method='post'>
                {% csrf_token %}
                <h4>Past Project Form</h4>
                <section>
                    <label for="pastName">Project Name: </label>
                    <input type="text" name='pastName'>
                </section>
                <section>
                    <label for="pastDesc">Description: </label>
                    <input type="text" name='pastDesc'>
                </section>
                <section>
                    <label for="pastImg">Image Link: </label>
                    <input type="text" name='pastImg'>
                </section>
                <section>
                    <label for="pastSource">Source Link: </label>
                    <input type="text" name='pastSource'>
                </section>
                <section>
                    <label for="pastLink">Live Link: </label>
                    <input type="text" name='pastLink'>
                </section>
                <section>
                    <label for="pOrder">Order: </label>
                    <input type="number" name="pOrder">
                </section>
                <button>Submit</button>
            </form>
        </div>
        <div class="row smallRow">
            <form action="/24/createAllProj/" method='post'>
                {% csrf_token %}
                <h4>All Projects Form</h4>
                <section>
                    <label for="projName">Project Name: </label>
                    <input type="text" name='projName'>
                </section>
                <section>
                    <label for="projDesc">Description: </label>
                    <input type="text" name='projDesc'>
                </section>
                <section>
                    <label for="projSource">Source Link: </label>
                    <input type="text" name='projSource'>
                </section>
                <section>
                    <label for="projLink">Live Link: </label>
                    <input type="text" name='projLink'>
                </section>
                <section>
                    <label for="projOrg">Organization Link: </label>
                    <input type="text" name='projOrg'>
                </section>
                <section>
                    <label for="theType">Project Type: </label>
                    <select name="theType">
                        {% for t in type %}
                            <option value="{{t.id}}">{{t.type}}</option>
                        {% endfor %}
                    </select>
                </section>
                <section>
                    <label for="theStatus">Project Status: </label>
                    <select name="theStatus">
                        {% for s in status %}
                            <option value="{{s.id}}">{{s.status}}</option>
                        {% endfor %}
                    </select>
                </section>
                <button>Submit</button>
            </form>
        </div>
        <div class="row smallRow">
            <div class="column data">
                <h4>Current Projects:</h4>
                {% for c in current %}
                    <p>Project Name: {{c.currName}}</p>
                {% endfor %}
            </div>
            <div class="column data">
                <h4>Past Projects:</h4>
                {% for p in past %}
                    <p>Project Name: {{p.pastName}}</p>
                {% endfor %}
            </div>
        </div>
        <h3>All Projects: </h3>
        <div class="row smallRow">
            <div class="column data">
                <h4>Current</h4>
                {% for c in cAll %}
                    <p>Project Name: {{c.projName}}</p>
                {% endfor %}
            </div>
            <div class="column data">
                <h4>Past</h4>
                {% for p in pAll %}
                    <p>Project Name: {{p.projName}}</p>
                {% endfor %}
            </div>
        </div>
    </main>
    {% block footer %} {% include '../footer.html' %} {% endblock footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='{% static "js/script.js"%}'></script>
</body>
</html>