<!DOCTYPE html>
<html lang="en">
<body>
    {% block adminMenu %}
    <nav class="navbar">
        <a href="/24/dashboard/" class="nav-option">Admin Home</a>
        <a href="/24/resume/" class="nav-option">Edit Resume</a>
        <a href="/24/projects/" class="nav-option">Edit Projects</a>
    </nav>
    <nav class="nav-small">
        <button class="button" id='showSubMenu'>Menu</button>
        <div id="hideSubMenu">
            <a href="/24/dashboard/" class="nav-option">Admin Home</a>
            <a href="/24/resume/" class="nav-option">Edit Resume</a>
            <a href="/24/projects/" class="nav-option">Edit Projects</a>
        </div>
    </nav>

    {% endblock adminMenu %}
</body>
</html>