{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/beelogo01.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <div class="head">
            {% block header %} {% include '../header.html' %} {% endblock %}
        </div>
        <nav>
            {% block menu %} {% include '../menu.html' %} {% endblock menu %}
        </nav>
        <hr>
        <nav>
            {% block adminMenu %} {% include './adminMenu.html' %} {% endblock adminMenu %}
        </nav>
    </header>
    <main>
        <div class="row">
            <form action="/24/createC/" method='post' class='formHide'>
                {% csrf_token %}
                <section>
                    <label for="email">Email: </label>
                    <input type="email" name='email'>
                </section>
                <section>
                    <label for="linkedIn">LinkedIn: </label>
                    <input type="text" name="linkedIn">
                </section>
                <section>
                    <label for="github">Github: </label>
                    <input type="text" name='github'>
                </section>
                <button>Submit</button>
            </form>
            <form action="/24/createU/" method='post' class='formHide'>
                {% csrf_token %}
                <section>
                    <label for="whyUpdate">Update Reason: </label>
                    <input type="text" name='whyUpdate'>
                </section>
                <section>
                    <label for="updateType"></label>
                    <select name="updateType">
                        {% for t in types %}
                            <option value="{{t.id}}">{{t.updateType}}</option>
                        {% endfor %}
                    </select>
                </section>
                <button>Submit</button>
            </form>
        </div>
        <div class="row data">
            <div class="column">
                <h3>Current Contact info</h3>
                {% for c in contact %}
                    <p>Email Address: <a href="mailto:{{c.email}}">{{c.email}}</a></p>
                    <p>LinkedIn: <a href="{{c.linkedIn}}">Profile</a></p>
                    <p>Github User: <a href="{{c.github}}">melissa-24</a></p>
                    <a href="/24/{{c.id}}/editC/">Edit</a>
                {% endfor %}
            </div>
            <div class="column">
                <h3>Update Log</h3>
                {% for u in updated %}
                    <p>Update Reason: {{u.whyUpdate}}<br>Last Update: {{u.updatedAt}}<br><a href="/24/{{u.id}}/editU/">Edit</a></p>
                {% endfor %}
            </div>
        </div>
    </main>
    {% block footer %} {% include '../footer.html' %} {% endblock footer %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='{% static "js/script.js"%}'></script>
</body>
</html>